@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="opacity: 0.9;">
    <h1 class="display-4">Welcome to Air Passenger Services!</h1>
    <p class="font-italic">Please register or login into your existing account in order to submit a claim.</p>
    <br>
</div>
